<footer id="footer">
    <div class="foottop">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-lg-6">
                    <div class="footericon">
                        <img class="footerimage" src="./public/images/cetalks.png" alt="logo">
                        <h3>CETalks</h3>
                    </div>
                    <p>Official Radio of College of Engineering Trivandrum</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 socialicons">

            <a class="faceb" href="https://www.facebook.com/CETalks/"><i
                    class="fab fa-facebook-square align-middle"></i></a>
            <a class="spotif"
                href=" https://open.spotify.com/show/5AGpr7Sd0kjciMAFxSuC0y?si=lKhC9EoqQAO_LAtJzC_Avg&utm_source=copy-link"><i
                    class="fab fa-spotify align-middle"></i></a>
            <a class="insta" href="https://www.instagram.com/CETalks/"><i class="fab fa-instagram align-middle"></i></a>
            <a class="youtu" href="https://www.youtube.com/channel/UCYiLt1pZnf2dslVLSe0WAXQ"><i
                    class="fab fa-youtube align-middle"></i></a>

        </div>
    </div>
    </div>

    <!-- Last Part of Footer -->
    <div class="container footbottom clearfix">
        <div class="copy-right">
            &copy; Copyright <strong><span>CETalks</span></strong>
        </div>
    </div>
</footer>