<!-- Preloader -->
<div class="loader_bg">
    <div class="loader"></div>
</div>

<!-- Navigation Bar -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div id="myNav" class="container-fluid d-flex align-items-center ">
        <div class="logo mr-auto">
            <a href="/">
                <img src="./public/images/cetalks.png" alt="">
                <h1><span class="cet">CET</span><span class="alks">alks</span></h1>
            </a>
        </div>
        <nav class="nav-menu" style="margin: 0 auto;">
            <ul>
                <li class="active hvr-underline-from-center"><a href="/"><i class="fas fa-home"></i><span>
                            Home</span></a></li>
                <li class="active hvr-underline-from-center"><a href="/events"><i class="fas fa-calendar-alt"></i><span>
                            Events</span></a></li>
                <li class="active hvr-underline-from-center"><a href="/team"><i class="fas fa-users"></i><span>
                            Team</span></a></li>
            </ul>
        </nav>

        <div class="header-social-links">
            <a href="https://www.instagram.com/CETalks/" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://open.spotify.com/show/5AGpr7Sd0kjciMAFxSuC0y?si=lKhC9EoqQAO_LAtJzC_Avg&utm_source=copy-link"
                class="spotify "><i class="fab fa-spotify"></i></a>
            <a href="https://www.youtube.com/channel/UCYiLt1pZnf2dslVLSe0WAXQ" class="youtube "><i
                    class="fab fa-youtube"></i></a>
            <a href="https://www.facebook.com/CETalks/" class="facebook"><i class="fab fa-facebook-square"></i></a>
            <a href="https://play.google.com/store/apps/details?id=com.cet.cetalksnew&showAllReviews=true"
                class="play_store"><i class="fab fa-google-play"></i></i></a>
        </div>

        <button id="menu_toggle" class="menu_btn"><span class="demoJS">&#9776</span></button>

        <div class="overlay" id="demo">
            <div class="overlay_content">
                <div class="logo_lay mr-auto">
                    <a href="/">
                        <img src="./public/images/cetalks.png" alt="">
                        <h1><span class="cet">CET</span><span class="alks">alks</span></h1>
                    </a>
                    <hr>
                </div>
                <a href="/"><i class="fas fa-home"> </i><span class="overlay_gap">Home</span></a>
                <a href="/events"><i class="fas fa-calendar-alt ml-2">
                    </i><span class="overlay_gap mr-1">Events</span></a>
                <a href="/team"><i class="fas fa-users"> </i><span class="overlay_gap mr-1">Team</span></a>
            </div>
            <button class="closebtn">&times;</button>
        </div>
    </div>
    </nav>
</header>